torch
torchvision
albumentations>=1.3.0
segmentation-models-pytorch>=0.3.3
rasterio
geopandas
shapely
Pillow
tqdm
numpy
scipy
scikit-image
networkx
streamlit
streamlit-folium
folium
matplotlib
mercantile
osmnx
